*{  outline: 0.2px solid red;
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size:16px;
    padding: 20px;
    max-width: 960px;
    min-width:320px;
    margin:20px auto;

}

a{ text-decoration:none;}

img{ max-width: 100%}
/*
ul#galeria,
ul.tags{list-style: none;display: flex;flex-wrap: wrap;gap:6px;
}

ul#galeria{
    
    gap:6px;
}

ul#galeria > li{
    margin-top:20px;
    width: 200px;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    text-align:center;

    transition:0.3s;
}

ul#galeria > li:hover{
 
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.4);
   
}

ul#galeria > li:hover a{
 
    color:black;   
    }

ul#galeria > li a{
        color:grey;
    }
*/

 /* tags de categorías */

 /*
ul.tags{
    margin-top:10px;
    gap:2px;
    justify-content:center;

}   

ul.tags li{
    text-align: center;
    padding: 2px 12px;
    background:coral;
    border-radius:9999px;
    font-size:12px;
    font-weight:bold;
}
*/

ul#galeria, ul.tags{list-style:none;padding-left:0;display:flex;flex-wrap:wrap;gap:6px;align-items: flex-end;}
ul#galeria{ margin:20px auto;}
ul#galeria > li{overflow:hidden;display:flex;flex-direction: column;justify-content: space-between;}
ul#galeria > li:hover{ box-shadow:2px 3px 18px rgba(0,0,0,.3);}

ul#galeria > li h3{ font-size:1em; margin-bottom:0.1em;}
ul#galeria > li p{ font-size:0.8em;}
ul#galeria > li a{ color:grey;}
ul#galeria > li:hover a{ color:black;}
ul#galeria > li img {height: 200px;max-width: 180px;aspect-ratio: 1/1;border-radius: 10px;box-shadow: 0 3px 5px #AAA;margin-bottom: 12px;}

ul#galeria:hover > li img{ opacity:0.55; filter:grayscale(100%) brightness(250%) blur(2px);}
ul#galeria > li:hover img{ transform:scale(1.05); opacity:1; filter:grayscale(0%) brightness(100%);}

ul#galeria li{border:#f8f8f8 1px solid;padding: 6px;/* border-radius:20px; */box-shadow:2px 3px 18px rgba(0,0,0,.1);}




ul#galeria .tags{font-size:8px;gap:2px;margin:10px 0 0 0; justify-content:flex-end;}
ul#galeria .tags li{border-radius: 999px;padding: 2px 6px;}

ul#galeria li:hover .tags { gap:6px;}

ul#galeria li:hover .tags li{ border:1 grey solid; }


/*colores de las etiquetas*/

ul.tags li.html{ background:rgb(219, 237, 219);}
ul.tags li.css{ background:rgb(250, 222, 201);}
ul.tags li.js{ background:rgb(232, 222, 238);}
ul.tags li.fg{ background:rgb(222, 233, 238);}

ul.tags li.html::before{ content:"HTML"}
ul.tags li.css::before{ content:"CSS"}
ul.tags li.js::before{ content:"JavaScript"}
ul.tags li.fg::before{ content:"Figma"}


ul#galeria li h3{
    margin-bottom:20px;
}

ul#galeria > li img{
  aspect-ratio: 1 / 1;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:10px;

}


/* grid */
ul#galeria.grid li { border-radius:20px !important; max-width:210px;}
ul#galeria.grid li img{display: block;max-width: 196px;}
ul#galeria.grid:hover img{ border-radius:18px;}

/* list */
ul#galeria.list > li{ width:100%; flex-direction: row; border-radius:6px;}
ul#galeria.list > li a{display:flex;}
ul#galeria.list img{ height: 36px;margin: 0 16px 0 0;border-radius: 4px;}
ul#galeria.list >li:hover img{ margin-right:30px; transform:scale(1.18); }

footer{ font-size:0.6em; text-align:center; margin-top:30px}

button{ padding:4px 10px; border:1px grey solid; border-radius:20px; margin:4px 0px;}
button:hover{ background:grey; color:white;}

/* transform */

ul li, ul li img, .tags, a, button{ transition: .3s }



@media (max-width:530px){
    ul#galeria.list .tags{ flex-direction:column;}
    ul#galeria.list a{ display:block;}
    
}